body{
    background-color: black;
    color: ghostwhite;

}
h4{
    display: contents;
    font-family: cursive;
    font-size: 14px;
    text-align: center;

}
.child{
    display: block;
    width: 60%;
    padding: 20px;
    border: 2px azure;
    margin : 70px;
}